.common-layout {
  .elp-header,
  .elp-footer,
  .elp-main,
  .elp-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .elp-header,
  .elp-footer {
    background-color: var(--elp-color-primary-light-7);
    color: var(--elp-text-color-primary);
    text-align: center;
  }

  .elp-aside {
    background-color: var(--elp-color-primary-light-8);
    color: var(--elp-text-color-primary);
    text-align: center;
  }

  .elp-main {
    background-color: var(--elp-color-primary-light-9);
    color: var(--elp-text-color-primary);
    text-align: center;

    height: 150px;
  }
}
